/* General */
* {
  box-sizing: border-box;
}

html, body {
  /* XXX */
  font-size: 16px;
  top: 0;
  margin: 0;
  background-color: #f8f7ff;
  --working-color: green;
  --relaxing-color: orange;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Title */
/* #title { } */

#title > h1 {
  font-size: 2rem;
  color: #FE7F2D;
  margin: 0 2rem;
  margin-bottom: 3rem;
}

/* #info { } */

#info h2 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: normal;
  margin: 0rem;
}

#info ul{
  margin: 0rem;
}

/* Status */
#status-list {
  padding: 0;
  list-style: none;
  text-align: center;
}

#status-list li {
  font-size: 0.8rem;
  line-height: 1rem;
  display: inline-block;
}

#status-list #nothing-tag {
  color: crimson;
}

#status-list #working-tag {
  color: var(--working-color);
  display: none;
}

#status-list #relaxing-tag {
  color: var(--relaxing-color);
  display: none;
}

/* Buttons */
#buttons > button {
  font-size: 1.5em;
  height: 4rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 14px;
  margin: 0.8rem 0;
}

#btn-init {
  color: white;
  background-color: var(--working-color);
  transition: color .5s, background-color .5s;
}

#btn-init:hover {
  color: var(--working-color);
  background-color: white;
}

#btn-stop {
  color: white;
  background-color: var(--relaxing-color);
  transition: color .5s, background-color .5s;
}

#btn-stop:hover {
  color: var(--relaxing-color);
  background-color: white;
}

#btn-stop {
  display: none;
}

/* -- */
#main {
  width: 80%;
  padding: 2rem;
  border: solid 2px;
  border-color: var(--working-color);
  border-radius: 20px;
  margin: 0.5rem auto;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0s, opacity 2s, height 0s;
}

#main p {
  font-size: 1rem;
}

#main #relaxing-legend{
  display: none;
}

/* Sections */
#main #relaxing-legend,
#main #working-legend {
  /* font-size: 1.5rem; */
  margin: 0 auto;
}

#main #timer {
  font-family: 'Courier New', monospace;
  font-size: 3rem;
  color: var(--working-color);
  line-height: 4rem;
  margin: 0 auto;
}

#total {
  /* height: auto; */
  color: gray;
  margin-top: 2rem;
  display: none;
  transition: display 2s;
}

#total > p {
  margin: 0.5em auto;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
  #main {
    width: 614px;
  }
}

/* DONE: TODO: quitar los tamaños de los divs, se supone estos toman el tamaño de los
* elementos, mejor trabajar con flexbox */